__pycache__/
*.py[cod]
*.pyc
*.pyo
venv/
env/
.venv/
.env

.ipynb_checkpoints
*.ipynb_checkpoints

/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/models/*
!/models/.gitkeep

/dvc.lock

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

mlruns/
mlartifacts/
*.log
logs/
.coverage
.pytest_cache/