__pycache__/
*.py[cod]
*.pyc
*.pyo
venv/
env/
.venv/
.env

.ipynb_checkpoints
*.ipynb_checkpoints

/data/raw/*.csv
/data/raw/*.txt
/data/raw/*.json
!/data/raw/*.dvc
/dvc.lock

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

mlruns/
mlartifacts/
*.log
logs/
.coverage
.pytest_cache/